/*---------- Reset Css----------*/
*{
	margin: 0px;
	padding: 0px;
}
	
body{
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	background-color: #f0f4fc;
}	

/*---------- Navbar----------*/
#navbar{
	display: flex;
    justify-content: space-between;
    align-items: center;
	background-color: #007f49;
	border-top: 5px solid #28a801;
	border-bottom: 2px solid #CCC;
	align-items: center; /* Căn giữa nội dung theo chiều dọc */
    height: 40px; /* Đặt chiều cao cho toàn bộ navbar (điều chỉnh theo ý bạn) */
}
	
#navbar ul{
	list-style: none;
    display: flex;
    margin: 0;
    
}
	
#navbar ul li{
	position: relative;
    margin-right: 20px;
	margin-left: 20px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 15px;
	font-weight: bold;
	text-transform: capitalize;
}
	
#navbar ul li:hover a{
	font-weight: bold;
	cursor: pointer;
}				
	
#navbar ul li a{
	text-decoration: none;
	color: #fff;
	display: block;
    text-transform: capitalize;
}
		
/*---------- Dropdown----------*/
.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #ffffff;
    min-width: 150px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
	background-color: #007f49;
}

.dropdown-content a {
    color: #007f49;
    padding: 10px;
    text-decoration: none;
    display: block;
    font-size: 14px;
}

.dropdown-content a:hover {
    background-color: #28a801;
}

.dropdown:hover .dropdown-content {
    display: block;
}


/*---------- Search Bar----------*/
#search-bar	{
	width: 300px;
	height: 40;
	margin-top: 8px;
	float: right;
}

#search-bar input{
	float: left;
	border: none;
}
	
#search-bar input[type="submit"]{
	width: 40px;	
	height: 40px;
	background: url(../image/search-icon.png) top left no-repeat;
}
	
#search-bar input[type="text"]{
	width: 200px;
	height: 30px;
	line-height: 30px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	color: #666;
	padding-left: 10px;
}

/*---------- Wrapper----------*/	
#wrapper{
	width: 1500px;
	height: auto;
	margin: 30px 20px;
	margin-bottom: 0px;
}


/*---------- Body----------*/
#body{
	overflow: hidden;
	width: 1400px;
	height: auto;
	background: #f0f4fc;
	padding: 20px 0px;
	margin-left: 300px;
}


/*---------- Right Sidebar----------*/
#r-col{
	float: left;
	width: 950px;
	height: auto;
	padding-left: 20px;
}
	
/*---------- Main----------*/

.prd-block{
	width: 950px;
	height:auto;
}

.prd-block h2{
	width: 870px;
	height: 35px;
	line-height: 35px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 15px;
	font-weight: bold;
	color: #FFF;
	text-transform: capitalize;
	background: #01a65f;
	padding-left: 12px;
	margin-right: 20px;
}
	
.pr-list{
	width: 1000px;
	height: auto;
	padding: 10px 0px;
}	

.prd-item{
	float: left;
	width: 208px;
	height: 320px;
	text-align: center;
	border: 1px solid #CCC;
	margin-right: 15px;
	margin-bottom: 15px;
	border-radius: 10px;
	padding: 0px;
	background-color: #fff;
}

.prd-item img{
	width: 208px;
	height: 200px;
	border-radius: 10px 10px 0 0;
}

.prd-item h3{
	width: 208px;
	height: auto;
	margin: 5px 0px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	font-weight: bold;
}
	
.prd-item p{
	width: 208px;
	height: auto;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	color: #a09f9f;
	margin: 5px 0px;
}	
	
.prd-item h3 a{ 
	text-decoration: none;
	color: #000;
}	

.prd-item p.price{
	padding-top: 10px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
}
	
.prd-item p.price span{
	padding: 5px 10px;
	background: rgba(10, 125, 46, 0.5);
	border-radius: 40px 40px 40px 40px;
	}	

.clear{
	clear: both;
}


/*---------- Footer----------*/
footer {
	width: 100%;
	height: auto;
	background: #007f49;
	border-bottom: 15px solid #28a801;
	margin-top: 35px;
	text-align: center;
	position: bottom left;
	
}
	
footer h4{
	height: auto;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 15px;
	font-weight: bold;
	color: #ffffff;
	text-transform: uppercase;
	margin-bottom: 30px;
	padding-top: 10px;
}		

footer p{
	height: auto;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFF;
	padding: 1px;
}