@charset "utf-8";
/* CSS Document */

table#fix-prd{
	width:938px;
	height:auto;
}
	
table#fix-prd tr td{
	padding-bottom:10px;
}
	
table#fix-prd tr td label{
	font-weight:bold;
	color:#c18400;
}	

table#fix-prd tr td input[type="text"]{
	width:300px;
}















